.todo {
  position: relative;
  min-height: calc(100vh - 140px);
}

.todo .todo-search {
  margin: 16px;
  position: relative;
}

.todo .todo-search .todo-search-icon {
  position: absolute;
  top: 12px;
  left: 12px;
}

.todo .todo-search input {
  width: calc(100% - 42px);
  padding-left: 36px;
  height: 40px;
  font-size: 12px;
  border-radius: 7px;
  border-width: 0.5px;
}

.todo .todo-add {
  position: absolute;
  bottom: 20px;
  background-color: #034ea2;
  right: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
