.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.form-title {
  height: 30px;
  padding-left: 12px;
  margin-bottom: 16px;
  border: 1px solid #dddddd;
  color: #231f20;
  border-radius: 3px;
  font-size: 12px;
}
.selectfield-value {
  height: 32px;
  padding: 0 12px;
  color: #231f20;
  border: 1px solid #dddddd;
  border-radius: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.selectfield-value .selectfield-value-content {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 12px;
}

.form-description {
  min-height: 70px;
  border-radius: 3px;
  resize: vertical;
  border: 1px solid #dddddd;
  font-size: 12px;
  color: #231f20;
  padding: 10px 12px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
}

.cancel-button,
.save-button {
  width: 110px;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
}

.cancel-button {
  background-color: white;
  border: 1px solid #034ea2;
  color: #034ea2;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s linear;
}

.cancel-button:active {
  background-color: rgb(21, 2, 58);
  color: white;
}

.save-button {
  background-color: #034ea2;
  border: 1px solid #034ea2;
  color: #ffffff;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s linear;
}

.save-button:active {
  background-color: rgb(0, 0, 0);
}

.selectfield {
  position: relative;
  margin-top: 16px;
}
.selectfield .selectfield-options {
  position: absolute;
  margin-top: 10px;
  border: 1px solid #dddddd;
  box-shadow: 0 4px 3px #dddddd40;
  width: calc(100% - 28px);
  background-color: white;
  padding: 14px;
}

.selectfield-options-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  font-weight: 400;
  padding: 14px;
  color: #231f20;
  cursor: pointer;
}

.selectfield-options-item:hover {
  background-color: #f7f7f7;
}

.nocontent {
  padding: 20px;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  color: rgb(116, 115, 115);
}
